*{
	box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
 }

.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0 10px;
}

h1{
	margin: 0;
}

[class^="col"],
[class*="col"]{
    float: left;
    padding: 0 10px;
    box-sizing: border-box;
}

.row{
    margin: 0 -10px;
    margin-top: 20px;
}

.row:last-child{
    margin-bottom: 20px;
}


.row:before,
.row:after{
    content: '';
    display: table;
    clear: both;
}

.col-1{
    width: 8.3333%;
}

.col-2{
    width: 16.6666%;
}

.col-3{
    width: 25%;
    margin-top: 21px;
}

.col-4{
    width: 33.3333%;
}

.col-5{
    width: 41.6665%;
}

.col-6{
    width: 50%;
}

.col-7{
    width: 58.3333%;
}

.col-8{
    width: 66.6666%;
}

.col-9{
    width: 75%;
}

.col-10{
    width: 83.3333%;
}

.col-11{
    width: 91.6666%
}

.col-12{
    width: 100%;
}

